import type { {{pascalCase name}}Props } from "./types"
export function {{pascalCase name}}({ prop = "{{pascalCase name}}" }: {{pascalCase name}}Props) {
return (
  <div>
    <h1>{prop}</h1>
  </div>
)}
